/*#loginImg{
    background: url("../icons/banner.png") no-repeat center center fixed;
    background-size: cover;
}*/
.nav{
    position: fixed;
}

.login md-card {
    width: 400px;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.nav-search{
    background: white !important;
    border-radius: 0px 3px 3px 0px !important;
    box-sizing: border-box;
    border: none;
    outline: 0;
    margin: 0 10px 0 0 !important;
    line-height: 40px;
    height: 40px;
    padding: 0 16px !important;
}
.nav-search svg{
    fill: #9E9E9E;
}

.nav-search:hover svg{
    fill: rgb(63, 81, 181);
}

.mdcard-custom{
    margin: 0px !important;
}

.min-width-130{
    min-width: 130px;
}

#loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.mdcard-custom:hover{
    cursor: pointer;
    background-color: #bfc0c1;
}

.margin-right-15{
    margin-right: 15px;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 0px;
}

iframe {
    position: absolute;
    background: #000;
    border: none;
    top: 130px; right: 0;
    bottom: 0; left: 0;
}