<div layout="column">
	<!-- Nav Bar -->
	<div data-ui-view="nav"></div>

	<div style="margin-top: 55px;" layout="row" layout-wrap layout-align="center center">
		<h2>Selling Book Information</h2>
	</div>

	<md-content layout-padding>
		<div>
			<form name="bookForm" ng-submit="processSellBookRequest($event)">

				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Book Name</label>
						<input ng-model="book.name" ng-required="true">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>ISBN-13 #</label>
						<input ng-model="book.isbn13" ng-required="true">
					</md-input-container>
				</div>

				<div layout-gt-sm="row" flex>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Book Image</label>
						<input ng-model="book.image" ng-required="true">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<img ng-src="{{book.image}}" />
					</md-input-container>
				</div>

				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Book Edition</label>
						<input ng-model="book.edition" ng-required="true">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Book Author</label>
						<input ng-model="book.author" ng-required="true">
					</md-input-container>
				</div>

				<div layout-gt-sm="row" flex>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Cost</label>
						<input ng-model="book.cost" ng-required="true">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Condition</label>
						<md-select ng-model="book.condition" ng-required="true">
							<md-option ng-repeat="condition in bookConditions" value="{{condition}}">
								{{condition}}
							</md-option>
						</md-select>
					</md-input-container>
				</div>

				<md-input-container class="md-block" flex-gt-sm>
					<label>Accepted Payment Method</label>
					<md-select ng-model="book.paymentMethod" ng-required="true" multiple>
						<md-option ng-repeat="option in paymentOptions" value="{{option}}">
							{{option}}
						</md-option>
					</md-select>
				</md-input-container>

				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Pickup City</label>
						<input ng-model="book.city" ng-required="true">
					</md-input-container>

					<md-input-container class="md-block" flex-gt-sm>
						<label>Pickup State (disabled)</label>
						<input ng-model="book.state" disabled>
					</md-input-container>
				</div>

				<md-input-container class="md-block">
					<label>Seller Contact Email</label>
					<input ng-model="book.sellerEmail" ng-required="true">
				</md-input-container>


				<div layout="row" layout-align="end start">
					<md-button type="submit">Submit</md-button>
				</div>

			</form>
		</div>
	</md-content>
</div>